{
  "extends": "eslint-config-umi",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "arrow-spacing": 2,
    "comma-spacing": ["error", { "before": false, "after": true }], // 代码之间空格
    "jsx-quotes": 2, // JSX 属性双引号
    "key-spacing": 2, // 属性冒号之间空格
    "keyword-spacing": 2, // if else 单词之间的空格
    "lines-around-comment": 1,
    "lines-between-class-members": 1, // 类成员之间空一行
    "no-duplicate-imports": 2,
    "no-empty": 2, // 不允许空语句块
    "no-empty-function": 1, // 不允许空function
    "no-multi-spaces": 2, // 不允许多个空格
    "no-multiple-empty-lines": 2, // 不允许多个空行
    "no-trailing-spaces": 2, // 不允许尾部空格
    "no-unneeded-ternary": 2,
    "object-curly-spacing": ["warn", "always"], // 对象前后空格 -> { a: 2 }
    "prefer-template": 2, // 最好使用模板字符串
    "space-before-function-paren": ["error", {"anonymous": "always", "named": "never", "asyncArrow": "always"}],
    "space-in-parens": 2, // 括号内不允许空格
    "space-infix-ops": 2, // 表达式之间的空格
    "no-extra-semi": 2, // 不必要的分号
    "one-var": ["error", "never"],
    "spaced-comment": 1, // 注释前空一格
    "indent": [2, 4], // 使用tab
    "no-useless-constructor": 2,
    "no-script-url": 0,
    "semi": 2, // 分号
    "quotes": ["error", "single"],
    "default-case": 0,
    "react/no-deprecated": 0,
    "react/jsx-no-target-blank": 0,
    "quote-props": [2, "consistent-as-needed"],
    "object-shorthand": 2
  }
}
