.listFilterWrap {
    display: flex;

    .btnGroup {
        width: 200px;
        padding-left: 20px;
        display: flex;
        justify-content: space-around;
    }
    :global {
        @height: 32px;
        .ant-row {
            margin-bottom: 0;
            .ant-form-item {
                margin-bottom: 24px;
                .ant-form-item-label {
                    height: @height;
                    line-height: @height;
                    label {
                        font-size: 12px;
                        color: #4b5564;
                    }
                }
                .ant-form-item-control-wrapper {
                    .ant-form-item-control {
                        text-align: left;
                        line-height: @height;
                    }
                    .ant-input,
                    .ant-select,
                    .ant-select-selection,
                    .ant-input-number,
                    .tf-addr-input {
                        min-height: @height;
                        line-height: @height;
                        padding-top: 0;
                        padding-bottom: 0;
                        font-size: 12px;
                        color: #1e283c;
                    }
                    .ant-select-selection-selected-value,
                    ant-select-selection__rendered {
                        line-height: @height;
                    }
                    .ant-calendar-picker {
                        width: 100% !important;
                    }
                }
            }
        }
        .ant-btn {
            width: 60px;
            height: @height;
            font-size: 12px;
            + .ant-btn {
                margin-right: 12px;
            }
        }
        // 地址组件样式
        @addrHeight: 18px;
        .tf-site-addr-wrapper
            .tf-addr-dropdown
            .tf-addr-dropdown-selectbox
            .tf-addr-dropdown-selectbox-content
            .tf-addr-dropdown-selectbox-flex
            .tf-addr-dropdown-selectbox-item {
            line-height: @addrHeight;
        }
        .tf-site-addr-wrapper
            .tf-addr-dropdown
            .tf-addr-dropdown-selectbox
            .tf-addr-dropdown-selectbox-title
            .tf-addr-dropdown-selectbox-tag {
            line-height: @addrHeight;
        }
    }
}
