.light-theme {
    .ant-table {
        color: rgba(0, 0, 0, 0.65);
    }

    .ant-table-thead > tr > th {
        color: rgba(0, 0, 0, 0.85);
        background: #fafafa;
        border-bottom: 1px solid #e8e8e8;
    }

    .ant-table-thead > tr > th .anticon-filter,
    .ant-table-thead > tr > th .ant-table-filter-icon {
        color: #bfbfbf;
    }

    .ant-table-thead > tr > th .ant-table-filter-selected.anticon {
        color: #1890ff;
    }

    .ant-table-thead
        > tr
        > th
        .ant-table-column-sorter
        .ant-table-column-sorter-inner {
        color: #bfbfbf;
    }
    .ant-table-thead
        > tr
        > th
        .ant-table-column-sorter
        .ant-table-column-sorter-inner
        .ant-table-column-sorter-up.on,
    .ant-table-thead
        > tr
        > th
        .ant-table-column-sorter
        .ant-table-column-sorter-inner
        .ant-table-column-sorter-down.on {
        color: #1890ff;
    }
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-filters
        .anticon-filter.ant-table-filter-open,
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-filters
        .ant-table-filter-icon.ant-table-filter-open {
        color: rgba(0, 0, 0, 0.45);
        background: #e5e5e5;
    }
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-filters:hover
        .anticon-filter:hover,
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-filters:hover
        .ant-table-filter-icon:hover {
        color: rgba(0, 0, 0, 0.45);
        background: #e5e5e5;
    }
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-filters:hover
        .anticon-filter:active,
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-filters:hover
        .ant-table-filter-icon:active {
        color: rgba(0, 0, 0, 0.65);
    }
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover {
        background: #f2f2f2;
    }
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover
        .anticon-filter,
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-sorters:hover
        .ant-table-filter-icon {
        background: #f2f2f2;
    }
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-sorters:active
        .ant-table-column-sorter-up:not(.on),
    .ant-table-thead
        > tr
        > th.ant-table-column-has-actions.ant-table-column-has-sorters:active
        .ant-table-column-sorter-down:not(.on) {
        color: rgba(0, 0, 0, 0.45);
    }
    .ant-table-thead
        > tr
        > th
        .ant-table-header-column
        .ant-table-column-sorters:hover::before {
        background: rgba(0, 0, 0, 0.04);
    }
    .ant-table-tbody > tr > td {
        border-bottom: 1px solid #e8e8e8;
        -webkit-transition: all 0.3s, border 0s;
        transition: all 0.3s, border 0s;
    }
    .ant-table-thead
        > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
        > td,
    .ant-table-tbody
        > tr.ant-table-row-hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
        > td,
    .ant-table-thead
        > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
        > td,
    .ant-table-tbody
        > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected)
        > td {
        background: #e6f7ff;
    }
    .ant-table-thead > tr.ant-table-row-selected > td.ant-table-column-sort,
    .ant-table-tbody > tr.ant-table-row-selected > td.ant-table-column-sort {
        background: #fafafa;
    }
    .ant-table-thead > tr:hover.ant-table-row-selected > td,
    .ant-table-tbody > tr:hover.ant-table-row-selected > td {
        background: #fafafa;
    }
    .ant-table-thead
        > tr:hover.ant-table-row-selected
        > td.ant-table-column-sort,
    .ant-table-tbody
        > tr:hover.ant-table-row-selected
        > td.ant-table-column-sort {
        background: #fafafa;
    }
    .ant-table-footer {
        color: rgba(0, 0, 0, 0.85);
        background: #fafafa;
        border-top: 1px solid #e8e8e8;
    }
    .ant-table-footer::before {
        background: #fafafa;
    }
    .ant-table.ant-table-bordered .ant-table-footer {
        border: 1px solid #e8e8e8;
    }
    .ant-table.ant-table-bordered .ant-table-title {
        border: 1px solid #e8e8e8;
    }

    .ant-table-without-column-header.ant-table-bordered.ant-table-empty
        .ant-table-placeholder {
        border-top: 1px solid #e8e8e8;
    }
    .ant-table-tbody > tr.ant-table-row-selected td {
        color: inherit;
        background: #fafafa;
    }
    .ant-table-thead > tr > th.ant-table-column-sort {
        background: #f5f5f5;
    }
    .ant-table-tbody > tr > td.ant-table-column-sort {
        background: rgba(0, 0, 0, 0.01);
    }
    .ant-table-header {
        overflow: hidden;
        background: #fafafa;
    }
    .ant-table-loading .ant-table-body {
        background: #fff;
        opacity: 0.5;
    }
    .ant-table-bordered .ant-table-header > table,
    .ant-table-bordered .ant-table-body > table,
    .ant-table-bordered .ant-table-fixed-left table,
    .ant-table-bordered .ant-table-fixed-right table {
        border: 1px solid #e8e8e8;
    }
    .ant-table-bordered.ant-table-empty .ant-table-placeholder {
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
    }

    .ant-table-bordered .ant-table-thead > tr:not(:last-child) > th {
        border-bottom: 1px solid #e8e8e8;
    }
    .ant-table-bordered .ant-table-thead > tr > th,
    .ant-table-bordered .ant-table-tbody > tr > td {
        border-right: 1px solid #e8e8e8;
    }
    .ant-table-placeholder {
        color: rgba(0, 0, 0, 0.25);
        background: #fff;
        border-top: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }
    .ant-table-filter-dropdown {
        background: #fff;
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
    .ant-table-filter-dropdown
        .ant-dropdown-menu
        .ant-dropdown-submenu-contain-selected
        .ant-dropdown-menu-submenu-title::after {
        color: #1890ff;
        text-shadow: 0 0 2px #bae7ff;
    }
    .ant-table-filter-dropdown-btns {
        border-top: 1px solid #e8e8e8;
    }
    .ant-table-filter-dropdown-link {
        color: #1890ff;
    }
    .ant-table-filter-dropdown-link:hover {
        color: #40a9ff;
    }
    .ant-table-filter-dropdown-link:active {
        color: #096dd9;
    }

    .ant-table-selection .anticon-down {
        color: #bfbfbf;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    .ant-table-selection-menu {
        background: #fff;
        -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
    .ant-table-selection-menu .ant-action-down {
        color: #bfbfbf;
    }
    .ant-table-selection-down:hover .anticon-down {
        color: rgba(0, 0, 0, 0.6);
    }
    .ant-table-row-expand-icon {
        color: #1890ff;
        background: #fff;
        border: 1px solid #e8e8e8;
    }
    .ant-table-row-expand-icon:focus,
    .ant-table-row-expand-icon:hover {
        color: #40a9ff;
    }
    .ant-table-row-expand-icon:active {
        color: #096dd9;
    }
    tr.ant-table-expanded-row,
    tr.ant-table-expanded-row:hover {
        background: #fbfbfb;
    }
    .ant-table-scroll table .ant-table-fixed-columns-in-body:not([colspan]) {
        color: transparent;
    }
    .ant-table-fixed-header
        > .ant-table-content
        > .ant-table-scroll
        > .ant-table-body {
        background: #fff;
    }
    .ant-table-fixed-header
        .ant-table-scroll
        .ant-table-header::-webkit-scrollbar {
        border: 1px solid #e8e8e8;
    }
    .ant-table-bordered.ant-table-fixed-header
        .ant-table-scroll
        .ant-table-header::-webkit-scrollbar {
        border: 1px solid #e8e8e8;
        border-width: 1px 1px 1px 0;
    }
    .ant-table-fixed-left table,
    .ant-table-fixed-right table {
        background: #fff;
    }
    .ant-table-fixed-right {
        right: 0;
        -webkit-box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
        box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.15);
    }
    .ant-table-small {
        border: 1px solid #e8e8e8;
    }
    .ant-table-small > .ant-table-title {
        border-bottom: 1px solid #e8e8e8;
    }
    .ant-table-small > .ant-table-content > .ant-table-footer {
        border-top: 1px solid #e8e8e8;
    }
    .ant-table-small > .ant-table-content .ant-table-header {
        background-color: transparent;
    }
    .ant-table-small.ant-table-bordered .ant-table-title {
        border: 0;
        border-right: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
    }
    .ant-table-small.ant-table-bordered .ant-table-content {
        border-right: 1px solid #e8e8e8;
    }
    .ant-table-small.ant-table-bordered .ant-table-footer {
        border: 0;
        border-top: 1px solid #e8e8e8;
    }

    .ant-table-small.ant-table-bordered
        .ant-table-fixed-left
        .ant-table-thead
        > tr
        > th:last-child,
    .ant-table-small.ant-table-bordered
        .ant-table-fixed-left
        .ant-table-tbody
        > tr
        > td:last-child {
        border-right: 1px solid #e8e8e8;
    }
    .ant-table-small.ant-table-bordered .ant-table-fixed-right {
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
    }
    .ant-switch {
        color: rgba(0, 0, 0, 0.65);
        background-color: rgba(0, 0, 0, 0.25);
    }
    .ant-switch-inner {
        color: #fff;
    }
    .ant-switch-loading-icon,
    .ant-switch::after {
        background-color: #fff;
    }
    .ant-switch-loading .ant-switch-loading-icon {
        display: inline-block;
        color: rgba(0, 0, 0, 0.65);
    }
    .ant-switch-checked.ant-switch-loading .ant-switch-loading-icon {
        color: #1890ff;
    }
    .ant-switch-checked {
        background-color: #1890ff;
    }
    .ant-pagination {
        color: rgba(0, 0, 0, 0.65);
    }
    .ant-pagination-item {
        background-color: #fff;
        border: 1px solid #d9d9d9;
    }
    .ant-pagination-item a {
        color: rgba(0, 0, 0, 0.65);
    }
    .ant-pagination-item:focus,
    .ant-pagination-item:hover {
        border-color: #1890ff;
    }
    .ant-pagination-item:focus a,
    .ant-pagination-item:hover a {
        color: #1890ff;
    }
    .ant-pagination-item-active {
        background: #fff;
        border-color: #1890ff;
    }
    .ant-pagination-item-active a {
        color: #1890ff;
    }
    .ant-pagination-item-active:focus,
    .ant-pagination-item-active:hover {
        border-color: #40a9ff;
    }
    .ant-pagination-item-active:focus a,
    .ant-pagination-item-active:hover a {
        color: #40a9ff;
    }
    .ant-pagination-prev,
    .ant-pagination-next,
    .ant-pagination-jump-prev,
    .ant-pagination-jump-next {
        color: rgba(0, 0, 0, 0.65);
    }
    .ant-pagination-prev a,
    .ant-pagination-next a {
        color: rgba(0, 0, 0, 0.65);
    }
    .ant-pagination-prev:hover a,
    .ant-pagination-next:hover a {
        border-color: #40a9ff;
    }
    .ant-pagination-prev .ant-pagination-item-link,
    .ant-pagination-next .ant-pagination-item-link {
        background-color: #fff;
        border: 1px solid #d9d9d9;
    }
    .ant-pagination-prev:focus .ant-pagination-item-link,
    .ant-pagination-next:focus .ant-pagination-item-link,
    .ant-pagination-prev:hover .ant-pagination-item-link,
    .ant-pagination-next:hover .ant-pagination-item-link {
        color: #1890ff;
        border-color: #1890ff;
    }
    .ant-pagination-disabled a,
    .ant-pagination-disabled:hover a,
    .ant-pagination-disabled:focus a,
    .ant-pagination-disabled .ant-pagination-item-link,
    .ant-pagination-disabled:hover .ant-pagination-item-link,
    .ant-pagination-disabled:focus .ant-pagination-item-link {
        color: rgba(0, 0, 0, 0.25);
        border-color: #d9d9d9;
    }
    .ant-pagination-options-quick-jumper input {
        color: rgba(0, 0, 0, 0.65);
        background-color: #fff;
        border: 1px solid #d9d9d9;
    }
    .ant-pagination-options-quick-jumper input::-moz-placeholder {
        color: #bfbfbf;
        opacity: 1;
    }
    .ant-pagination-options-quick-jumper input:-ms-input-placeholder {
        color: #bfbfbf;
    }
    .ant-pagination-options-quick-jumper input::-webkit-input-placeholder {
        color: #bfbfbf;
    }
}
