@import "./assets/reset.css";

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

.clearfix:after {
  display: block;
  clear: both;
  content: ' ';
  visibility: hidden;
  height: 0;
}


.ant-menu.ant-menu-dark .ant-menu-item.ant-menu-item-selected {
  background-color: hsla(0,0%,100%,.05);
  border-left: 2px solid #1890ff;
}

.ant-menu.ant-menu-dark .ant-menu-item {
  border-left: 2px solid #23232e;
}

.ant-select-search__field {
  background-color: #17171f;
}

body .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: #272733;
}

body .ant-table-thead > tr > th {
  background-color: #272733;
}

.template-list {
  display: flex;
  flex-wrap: wrap;
}

.set-opt-line {
  padding: 5px 0;
}

.set-opt-line .set-opt-input {
  width: 100px;
  margin-right: 20px;
}

.opt-link {
  color: #1890ff;
  cursor: pointer;
  margin-right: 10px;
}

.ant-radio {
  border-radius: 50%;
  border: 1px solid #1890ff;
}

.mr10 {
  margin-right: 10px;
}