.terminalTop {
    background: #000;
    height: 30px;
    margin-top: 20px;
    text-align: right;
    line-height: 30px;
    padding-right: 10px;
}

.terminalDel {
    color: #fff;
    cursor: pointer;
}

.top {
    overflow: hidden;
}

.form {
    width: 550px;
    float: left;
}

.upload {
    width: 300px;
    float: left;
    margin-left: 20px;
}

.terminalBox {
    width: 900px;
}